<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.geekdev.l8intents" >

    <uses-permission android:name="android.permission.CALL_PHONE" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".PhoneActivity"
            android:label="@string/title_activity_phone" >
        </activity>
        <activity
            android:name=".Intent1"
            android:label="@string/title_activity_intent1" >
        </activity>
        <activity
            android:name=".Intent2"
            android:label="@string/title_activity_intent2" >
        </activity>
    </application>

</manifest>
