<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.geekband.alpha.l11storage">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >

        </activity>
        <activity
            android:name=".CameraActivity"
            android:label="@string/title_activity_camera" >
        </activity>
        <activity
            android:name=".SqlActivity"
            android:label="@string/title_activity_sql" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ParseActivity"
            android:label="@string/title_activity_parse" >
        </activity>
        <activity
            android:name=".SQLCipher"
            android:label="@string/title_activity_sqlcipher" >

        </activity>
    </application>

</manifest>
